<%= form_tag sessions_path, do |f| %>
  <div class="form-group">
    <%= f.label "Email" %>
    <%= f.text_field :email %><br>
    <%= f.label "Password" %>
    <%= f.password_field :password %><br>
  </div>
  <%= f.submit(:class => 'btn btn-success') %>
<% end %>
